<header class="header bg-light d-flex justify-content-between align-items-center pe-3">
    <div class="header-start d-flex justify-self-start align-items-center gap-3 px-3">
        <div class="d-flex align-items-center">
        {% block header_sidebar_button %}
            {% include('_partials/header/_header_sidebar_button.html.twig') %}
        {% endblock %}
        </div>

        <div class="">
        {% block header_logo %}
            {% include('_partials/header/_header_logo.html.twig') %}
        {% endblock %}
        </div>
    </div>

    <div class="header-middle d-flex justify-self-center align-items-center w-25 px-3">
    {% block header_search %}
        {% include('_partials/header/_header_search.html.twig') %}
    {% endblock %}
    </div>

    <div class="header-end d-flex justify-self-end align-items-center px-3">
    {% block header_profile %}
        {% include('_partials/header/_header_profile.html.twig') %}        
    {% endblock %}
    </div>
  </header>