{% block sidebar %}
<div data-sidebar-state="open" class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light">
    <div class="sidebar-middle">
        {% block sidebar_menu %}
            {% set navSidebar = knp_menu_get('navSidebar') %}
            {{ knp_menu_render(navSidebar, {'template': '_partials/sidebar/_menu.html.twig'}) }}
        {% endblock %}
    </div>
</div>
{% endblock %}