.img-cover img {
    object-fit: cover !important;
    background-size: cover !important;
    aspect-ratio: 1/1 !important;
}

.grid-overlay {
    bottom:25%;
    width:85%;
    backdrop-filter: blur(5px);
}

.row > * {
    margin-top: 0;
    margin-bottom: var(--bs-gutter-y);
}