:root {
    --spur1-sidebar-width-open: 250px;
    --spur1-sidebar-width-closed: 4rem;
}

[data-sidebar-state='open'].sidebar {
    width:var(--spur1-sidebar-width-open);
}

[data-sidebar-state='closed'].sidebar {
    width:var(--spur1-sidebar-width-closed);
}

[data-sidebar-state='open'].content {
    margin-left: var(--spur1-sidebar-width-open);
}

[data-sidebar-state='closed'].content {
    margin-left: var(--spur1-sidebar-width-closed);
}


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.1);
    z-index:2;
    transition: width .3s ease-in-out;
}

.sidebar[data-sidebar-state='closed'] .hide-closed {
    display:none !important;
}