<a href="{{ this.path_url }}" class="icon-link text-decoration-none pe-none opacity-25">
    <span class="badge bg-{{ this.color }}">
        <i class="{{ this.icon }} me-2"></i>{{ this.title }}
    </span>
</a>