<nav class="navbar navbar-expand-lg">
    <div class="container-fluid align-items-center">

        <a class="navbar-brand" href="{{ path('app_index') }}">
            <svg class="logo" width="96" height="62">       
                <image xlink:href="{{ asset('build/images/spur1_cropped.svg') }}" width="96" height="62"/>    
            </svg>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="w-100 h-100"><i class="fa-solid fa-bars"></i></span>
        </button>

        <div class="d-flex collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <div class="navigation justify-content-end">
            {% set navigation = knp_menu_get('navigation') %}
            {{ knp_menu_render(navigation, {'template': 'menu/menu_navigation.html.twig'}) }}
          </div>
        </div>

    </div>
</nav>