<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="{{ path('app_index') }}">
        <svg class="logo" width="96" height="62">       
            <image xlink:href="{{ asset('build/images/spur1_cropped.svg') }}" width="96" height="62"/>    
        </svg>
    </a>
  </div>
</nav>