/* Custom Icons */
@font-face {
    font-display: swap;
    font-family: 'Spur1-Icons';
    font-style: normal;
    font-weight: 500;
    src: 
        url("./icons/icomoon.ttf") format("truetype"),
        url('./icons/icomoon.woff') format('woff');
}

[class^="s1"], 
[class*=" s1-"],
.icon {
    font-family: 'Spur1-Icons' !important;
}

.s1-logo:before {
    content: "\e900";
}

.brands-linktree:before {
    content: "\e901";
}

.brands-hearthis:before {
    content: "\e902";
}