$red: #e04242;

$primary: $red;

$font-family-sans-serif:
    // Spur1 font family
    "Gothic",

    // Cross-platform generic font family (default user interface font)
    system-ui,

    // Safari for macOS and iOS (San Francisco)
    -apple-system,

    // Windows
    "Segoe UI",

    // Android
    Roboto,

    // older macOS and iOS
    "Helvetica Neue",

    // Linux
    "Noto Sans",
    "Liberation Sans",

    // Basic web fallback
    Arial,

    // Sans serif fallback
    sans-serif,

    // Emoji fonts
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

    $font-family-base: $font-family-sans-serif;

@import "~bootstrap/scss/bootstrap";