{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block content_title %}{{ 'Upload Json'|trans }}{% endblock %}
{% block main %}
    <section class="content"> 
        {{ form(form) }}
    </section>
{% endblock %}