<div class="global-actions">
    {% for action in this.actions %}
        <a 
            class="action-{{ action.title|lower }} btn btn-secondary btn-sm"

            {{ stimulus_controller('modal', {
                'url': path(action.path),
                'resolve': action.name
            })}}

            data-action="modal#openModal"
            data-bs-target="modal">
            <span class="action-label text-white">{{ action.title|capitalize }} {{ this.title }}</span></a>
    {% endfor %}
</div>