<li class="d-flex p-2 list-group-item list-group-item-action animate__animated animate__fadeIn">
    <div class="w-100 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-3">
            {{ component('Card:Image', { 
                image: post.Image|default(''),
                corner_style: 'rounded border',
                style: 'thumbnail',
                width: 48,
                load: ''
            }) }}
            <h5 class="p-0 m-0">{{ post.Name }}
                {% if post.isVerified %}
                    <span 
                        data-filter-verified="true"
                        data-bs-toggle="tooltip" 
                        data-bs-title="Verified"
                    >
                        <i class="fa-solid fa-circle-check text-info me-2"></i>
                    </span>
                {% endif %}
            </h5>
        </div>
        <div class="dropdown">
            <a class="btn btn-outline-secondary btn-sm py-1 px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis"></i>
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path(this.path_url ~ '_action_id', { action:'view', id: post.id }) }}">View</a></li>
                <li><a class="dropdown-item" href="{{ path(this.path_url ~ '_action_id', { action:'edit', id: post.id }) }}">Edit</a></li>
            </ul>
        </div> 
    </div>
</li>