{# _template/_grid.html.twig #}
{% block content %}
    {% if posts %}
        <div class="row" data-controller="blurryload">
            {% for post in posts %}
                {% set item = post %}
                {% set card_small_text = post.Date|date('m/Y') %}
                {% set card_large_text = post.Title|upper %}
                {% include('_component/card_large.html.twig') %}
            {% endfor %}
        </div>
    {% else %}
        <p>{{'No posts have been found'|trans}}</p>
    {% endif %}
{% endblock %}