{# _template/_grid.html.twig #}
{% block content %}
    {% if posts %}
        <div 
            class="row"
            {{ stimulus_controller('blurryload') }}>
            {% for post in posts %}
                {{ component('Card:Large', { 
                    post: post,
                    col_size: grid.col_size,
                    gap_size: grid.gap_size,
                    path_url: grid.path_url,
                    small_text: post.Date|date('m/Y'),
                    large_text: post.Title|upper,
                }) }}
            {% endfor %}
        </div>
    {% else %}
        <p>{{'No posts have been found'|trans}}</p>
    {% endif %}
{% endblock %}