<a href="{{ path('app_main_index') }}" class="d-flex align-items-center justify-content-center mb-md-0 link-dark text-decoration-none">
    <svg class="bi me-2" width="48" height="48">
        <image xlink:href="{{ asset('build/images/spur1_cropped.svg') }}" src="{{ asset('build/images/spur1_cropped.svg') }}" width="48" height="48"/>
    </svg>
    <span class="fs-2 font-gothic">{{'Spur1-Media'|upper}}</span>
</a>