<a href="#" class="nav-btn sidebar-toggler text-color-spur1-gray p-2" data-bs-toggle="sidebar" data-bs-target="#sidebar" aria-controls="sidebar" aria-label="Toggle Sidebar">
    <span class="w-100 h-100"><i class="fa-solid fa-bars"></i></span>
</a>