@import './_template/grid.css';
@import './_partials/sidebar.css';
@import './_partials/header.css';

@import './_partials/content.css';

:root {
    --spur1-red: #e04242;
    --spur1-gray: #3c3c3b;
}

body {
    background: #f0f0f0;
}

.logo {
    height:32px !important;
}

.text-color-spur1-red {
    color:var(--spur1-red);
}

.text-color-spur1-gray {
    color:var(--spur1-gray);
}