@import './_partials/header.css';
@import './_partials/sidebar.css';

@import './_partials/dropdown-menu.css';

@import './_template/grid.css';
@import './_template/single.css';

@import './_partials/content.css';

@import './_partials/simplebar.css';

:root {
    --spur1-red: #e04242;
    --spur1-gray: #3c3c3b;
}

body {
    background: #f0f0f0;
}

.logo {
    height:32px !important;
}

.text-color-spur1-red {
    color:var(--spur1-red);
}

.text-color-spur1-gray {
    color:var(--spur1-gray);
}

.img-cover {
    object-fit: cover !important;
    background-size: cover !important;
}

.bg-light-75 {
    background:rgba(255,255,255,.75);
}