@import './app/_partials/header.css';
@import './app/_partials/sidebar.css';
@import './app/_partials/content.css';

@import './app/_template/grid.css';
@import './app/_template/single.css';

@import './app/_partials/simplebar.css';
@import './app/_partials/buttons.css';

@import './app/debug.css';

:root {
    --spur1-red: #e04242;
    --spur1-red-light:#ed9191;
    --spur1-gray: #3c3c3b;
}

body {
    background: #f0f0f0;
}

.logo {
    height:32px !important;
}

.text-color-spur1-red {
    color:var(--spur1-red);
}

.text-color-spur1-gray {
    color:var(--spur1-gray) !important;
}

.img-cover {
    object-fit: cover !important;
    background-size: cover !important;
}

.bg-light-75 {
    background:rgba(255,255,255,.75) !important;
}

.bg-white {
    background:#fff !important;
}