<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas_menu" aria-labelledby="offcanvas_menu_label">
  <div class="offcanvas-header d-flex align-items-center p-3 m-0">
    <h4 class="offcanvas-title align-self-center" id="offcanvas_menu_label">
        <a class="navbar-brand font-gothic text-color-spur1-gray" href="{{ path('app_main_index') }}">
            <img class="logo me-3 img-fluid" src="{{ asset('build/images/spur1_cropped.svg') }}">
            SPUR1-MEDIA
        </a>
    </h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr class="p-0 m-0">
  <div class="offcanvas-body p-3">
    <div>
        {% set navMain = knp_menu_get('navMain') %}
        {{ knp_menu_render(navMain, {'template': 'Main/_menu/offcanvas.html.twig'}) }}
    </div>
  </div>
</div>