<div data-turbo="false">
    <form id="header_search" class="w-100 h-100" role="search" action="{{ path('app_main_search') }}">
        <div 
            class="w-100 h-100"
            {{ stimulus_controller('search-preview', {
                url: path('app_main_search')
            }) }}
        >
            <div class="input-group w-100 h-100 d-flex align-items-center">
                <button type="submit" class="btn border-secondary-subtle text-color-spur1-gray bg-white"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input
                    name="q"
                    value="{{ searchTerm|default('') }}"
                    placeholder="Search..."
                    type="search"
                    class="form-control border-secondary-subtle text-color-spur1-gray bg-white"
                    aria-label="Search"
                    data-action="search-preview#onSearchInput"
                >
                <button type="button" class="btn border-secondary-subtle dropdown-toggle dropdown-toggle text-color-spur1-gray bg-white opacity-25 pe-none" data-bs-toggle="dropdown" aria-expanded="false">Filter</button>
                <ul class="dropdown-menu dropdown-menu-end text-color-spur1-gray">
                    <li><h6 class="dropdown-header">Content</h6></li>
                    <li><a class="dropdown-item" href=""><i class="fa-solid fa-record-vinyl me-2"></i>Orbiter Session</a></option>
                    <li><a class="pe-none opacity-25 dropdown-item" href="#"><i class="fa-solid fa-record-vinyl me-2"></i>Podcast</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-record-vinyl me-2"></i>Radio</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-record-vinyl me-2"></i>Teletime</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-record-vinyl me-2"></i>Windowlicker</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><h6 class="dropdown-header">Types</h6></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user me-2"></i>Artists</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-users me-2"></i>Crews</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <div 
                class="search-preview align-self-auto"
                data-search-preview-target="result"
            ></div>
        </div>
    </form>
</div>