<a href="{{ path(this.path_url, { 'slug': this.slug }) }}" class="btn btn-outline-{{ this.color }} rounded text-decoration-none d-flex align-items-center">
    {{ component('Card:Image', { 
        image: this.image|default(''),
        corner_style: 'rounded-circle me-2',
        style: 'thumbnail',
        width: '32',
        load: '',
    }) }}
    {{ this.title }}
</a>