[data-sidebar='open'] .content {
    margin-left: calc(var(--spur1-sidebar-width-open));
}

[data-sidebar='closed'] .content {
    margin-left: calc(var(--spur1-sidebar-width-closed));
}

.content {
    overflow-x: auto;
    overflow-y: hidden;
    margin-top:var(--spur1-header-height);
    z-index:0;
}