:root {
    --spur1-header-height:70px;
    --spur1-header-width:100vw;
}

.header {
    position:fixed;
    left:0;
    top:0;
    height: var(--spur1-header-height) !important;
    max-height: var(--spur1-header-height);
    width:var(--spur1-header-width) !important;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.1);
    z-index:1;
}