@import './sidebar/nav.css';

:root {
    --spur1-sidebar-width-open: 300px;
    --spur1-sidebar-width-closed: 1rem;

    --spur1-sidebar-height: calc(100vh - 70px);
    --spur1-sidebar-height-top: 48px;
    --spur1-sidebar-height-bottom: 48px;
    --spur1-sidebar-height-middle: calc(var(--spur1-sidebar-height) - var(--spur1-sidebar-height-top) - var(--spur1-sidebar-height-bottom));
}

[data-sidebar-state='open'].sidebar {
    width:var(--spur1-sidebar-width-open);
}

[data-sidebar-state='closed'].sidebar {
    width:var(--spur1-sidebar-width-closed);
}

.sidebar {
    position:fixed;
    left:0;
    top:70px;
    height: var(--spur1-sidebar-height) !important;
    height: -webkit-fill-available;
    max-height: var(--spur1-sidebar-height);
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.1);
    z-index:1;
}

.sidebar-top {
    height: var(--spur1-sidebar-height-top) !important;
}

.sidebar-middle {
    height: var(--spur1-sidebar-height-middle) !important;
}

.sidebar-bottom {
    height: var(--spur1-sidebar-height-bottom) !important;
}