<!DOCTYPE html>
<html data-bs-theme="light" data-theme="light" data-lang="en" lang="en" data-sidebar="open">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Spur1-Media{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/spur1_cropped.svg') }}">

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block modal %}{{ component('Modal') }}{% endblock %}
    </body>
</html>