{# Button trigger modal #}

<!-- Modal -->
<div class="modal fade" id="_modal" tabindex="-1" aria-labelledby="_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 id="_modal_title" class="modal-title fs-5"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="_modal_body" class="modal-body"></div>
      <div id="_modal_footer" class="modal-footer"></div>
    </div>
  </div>
</div>