<ul class="list-group">
    {% if not searchTerm is empty %}
        {% for post in posts %}
            {% if constant('class', post) == 'App\\Entity\\Radio' %}
                {% set path_url = 'app_main_radio_single' %}
                {% set post_type = 'Radio' %}
            {% endif %}
            
            {% if constant('class', post) == 'App\\Entity\\Windowlicker' %}
                {% set path_url = 'app_main_windowlicker_single' %}
                {% set post_type = 'Windowlicker' %}
            {% endif %}
            
            {% if constant('class', post) == 'App\\Entity\\OrbiterSession' %}
                {% set path_url = 'app_main_orbiter-session_single' %}
                {% set post_type = 'Orbiter Session' %}
            {% endif %}
            
            {% if constant('class', post) == 'App\\Entity\\Teletime' %}
                {% set path_url = 'app_main_teletime_single' %}
                {% set post_type = 'Teletime' %}
            {% endif %}

            <a 
                class="list-group-item list-group-item-action"
                href="{{ path(path_url, { slug: post.Slug }) }}"
                >
                {{ post.Title }} | {{ post_type }}
            </a>
        {% else %}
            <div class="list-group-item">No Posts have been found.</div>
        {% endfor %}
    {% endif %}
</ul>