<header 
    class="header bg-light d-flex justify-content-between pe-3"
    data-sidebar-state='open'>
    <div class=""></div>
    <div class="header-middle d-flex justify-self-center w-25 px-3">
    {% block header_search %}
        {% include('_partial/header/_header_search.html.twig') %}
    {% endblock %}
    </div>

    <div class="header-end d-flex justify-self-end align-items-center px-3">
    {% block header_profile %}
        {% include('_partial/header/_header_profile.html.twig') %}        
    {% endblock %}
    </div>
  </header>