{% block sidebar %}
    <div data-sidebar-state="open" class="sidebar bg-light d-flex flex-column flex-shrink-0 py-3">
        {% block sidebar_menu %}
            {% set navSidebar = knp_menu_get('navSidebar') %}
            {{ knp_menu_render(navSidebar, {'template': '_partial/sidebar/menu_sidebar.html.twig'}) }}
        {% endblock %}
    </div>
{% endblock %}